<body>
    <div id="rectangulo" class="rectangulo">

        <img src="static/staticMensajes/imgs/logo.png" alt="Logo" id="logo">
        <div class="content">

            <p class="bienvenida">SOL CHAT</p>
            <p class="otro-texto">Carga una foto, es información adicional para tu perfil</p>
            <img src="static/staticMensajes/imgs/funny-cool-unscreen.gif" alt="Welcome GIF" class="gif">
            <div class="preview-panel" id="preview-panel">
            </div>
            <label for="file-upload" class="examinar-label">Examinar</label>
            <input type="file" id="file-upload" class="file-input">
            <a href="/guardar" class="action-button">Guardar</a>
            <a href="/sala" class="next-button">Continue</a>
            <div class="panel-amarillo"></div>
        </div>
    </div>