{% extends "tempsEstudiante/index.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Gráficas con Chart.js</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/staticEstudiante/css/proyeccion.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/staticEstudiante/img/SOL.png') }}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Tabla de Gráficas</h1>
        <div class="chart-container">
            <canvas id="chart1"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="chart2"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="chart3"></canvas>
        </div>
        <a href='/progreso' class="/progreso">Regresar</a>
    </div>
    <script src="{{ url_for('static', filename='/staticEstudiante/js/proyeccion.js') }}"></script>
</body>
</html>
{% endblock %}