{% extends "tempsDocente/index.html" %}
{% block content %}
<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Estudiante</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/staticDocente/css/gestion.css')}}">
    <!-- Fontawesome CDN Link For Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  </head>
  <body>
    <form action="/registrar/guardar">
      <h2>Registro Estudiante</h2>
      <div class="form-group ">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" placeholder="Ingresa tus Nombres">
      </div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" placeholder="Ingresa tus apellidos">
      </div>
      <div class="form-group ">
        <label for="correo">Correo</label>
        <input type="text" id="correo" name="correo" class="form-control" placeholder="Ingresa tu correo" required>
      </div>
      <div class="form-group password">
        <label for="telefono">Telefono</label>
        <input type="text" id="telefono" name="telefono" class="form-control" placeholder="Ingresa tu número de teléfono" required>
      </div>
      <div class="form-group date">
        <label for="fecha">Fecha</label>
        <input type="date" id="fecha" placeholder="Selecciona la fecha">
      </div>
      <div class="form-group">
        <label for="genero">Genero</label>
        <select id="genero">
          <option value="" selected disabled>Selecciona el genero</option>
          <option value="Male">Masculino</option>
          <option value="Female">Femenino</option>
          <option value="Other">Other</option>
        </select>
      <div class="form-group submit-btn">
        <input type="submit" value="Submit">
      </div>
    </form>
    <script src="script.js"></script>
  </body>
</html>
{% endblock %}
